{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container position-relative">
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">
                <h3>Adaptable Image Research De-noising</h3>
                <p>
                    The System removes the Water from the Images and makes the Iamge Clear to View.
                </p>
                <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                    <a class="btn btn-outline-light btn-lg" href="log_in"> Login </a>
                    <a class="btn btn-outline-light btn-lg" href="register"> Register </a>
                  </div>
            </div>
        </div><!-- End testimonial item -->
    </div>
   
</section><!-- End Testimonials Section -->

{% endblock body %}